<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Credentialst</title>
    <style>
        body{ display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;}
        #editform{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height:auto;
            width:max-content;
            border:solid rgb(221, 221, 221) 1px;
            border-radius: 15px;
            padding: 10%;
        }
    </style>
</head>
<body>
    
<form method="POST" action="/insta/update/<%=id%>?_method=PATCH"> 
  <div id="editform">
    <h2>Edit Your Credentials</h2>
   <div> <label for="newusername">New Username :</label>
    <input type="text" name="newusername" placeholder="instauser@001" value="<%=editeduser[0].username%>"></div><br><br>
    <div><label for="newpass">Change Password :</label>
    <input type="password" name="newpass"></div><br><br>
    <input type="submit" value="Submit">
 </div>
</form>
</body>
</html>